.nav-bar__user-mail {
    display: block;
    position: relative;
    top: -110px;
    left: 150px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color:  rgba(0, 0, 0, 0.5);
    
}