@import url("__task-name/task__task-name.css");
@import url("__check-box/task__check-box.css");
@import url("__play-pause/task__play-pause.css");
@import url("__task-time/task__task-time.css");

.task {
    position: relative;
    width: calc(100vw - 64px);
    height: 150px;
    border-bottom: 1px solid black;
    line-height: 150px;
    transition: 0.3s;
}

.task_open {
    height: 220px;
}

.flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.archive {
    position: fixed;
    bottom: 100px;
    left: 82px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 140px;
    width: calc(100% - 164px);
    font-size: 3.2rem;
    text-align: center;
    line-height: 140px;
    transition: 0.3s;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.4);
}

.noHeight {
    height = 0px;
}

.archive_hidden {
    opacity: 0;
}