@import url("__task-name/task__task-name.css");
@import url("__check-box/task__check-box.css");
@import url("__play-pause/task__play-pause.css");

.task {
    position: relative;
    width: calc(100vw - 64px);
    height: 150px;
    border-bottom: 1px solid black;
    line-height: 150px;
    transition: 0.3s;
}

.task_open {
    height: 400px;
}

.flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}