.main-container {
    padding: 0 4.266% 0 4.266%;
    background: #8e8078; /* Old browsers */
    background: -moz-radial-gradient(78% ellipse cover, #8e8078 0%, #d5bbac 62%, #ded1c5 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(78%, ellipse cover, #8e8078 0%,#d5bbac 62%,#ded1c5 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(78%, #8e8078 0%,#d5bbac 62%,#ded1c5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


/* page header */
.header {
  font-family: 'Roboto', sans-serif;
  color:  #3c3938;
  font-size: 2rem; /* Przybliżenie (wynika z podstawienia czcionki) */
  font-weight: 500;
  line-height: 0.8; /* Przybliżenie (wynika z podstawienia czcionki) */
  text-align: left;
}

/* title font, for example taks or raports names */
.title {
  font-family: 'Roboto', sans-serif;
  color:  #3c3938;
  font-size: 1.6rem;/* Przybliżenie (wynika z podstawienia czcionki) */
  font-weight: 400;
  line-height: 1;/* Przybliżenie (wynika z podstawienia czcionki) */
  text-align: left;
}

/* caption, for example task date */
.caption {
  font-family: 'Roboto', sans-serif;
  color:  #8e8a85;
  font-size: 1.4rem;/* Przybliżenie (wynika z podstawienia czcionki) */
  font-weight: 400;
  line-height: 1.143;/* Przybliżenie (wynika z podstawienia czcionki) */
  text-align: left;
}

/* text on buttons */
.button {
  font-family: 'Roboto', sans-serif;
  color:  #ffffff;
  font-size: 1.4rem;/* Przybliżenie (wynika z podstawienia czcionki) */
  font-weight: 500;
  line-height: 1.143;/* Przybliżenie (wynika z podstawienia czcionki) */
  text-align: center;
}

/* task timer */
.timer {
  font-family: 'Roboto', sans-serif;
  color:  #8e8a85;
  font-size: 1.8rem;/* Przybliżenie (wynika z podstawienia czcionki) */
  font-weight: 400;
  line-height: 0.889;/* Przybliżenie (wynika z podstawienia czcionki) */
  text-align: left;
}

.main-color {
    color: #000000;
}

.complementary-color {
    color: #6c6864;
}

.btn-color {
    color: #1de9b6;
}
.btn-complementary-color {
    color: #ffffff;
}
