figure {
	max-width: 60%;
	margin: 0 auto;
	padding-top: 20vh;
	margin-bottom: 15%;
}

img {
	max-width: 100%;
}

.main {
	position: absolute;
    bottom: 5%;
    width: 90%;
}

.sprite {
	background: url("../img/btn_background.jpg") no-repeat;
}

.main_btn {
	display: block;
	border-radius: 10px;
	width: 90%;
	margin: 0 auto;
	line-height: 6.5rem;
	margin-bottom: 3%;
	text-transform: uppercase;
}

.pos_1 {
	background-position: 0 -5rem;
	background-size: cover;
}

.pos_2 {
	background-position: 0 -11rem;
	background-size: cover;
}

.pos_3 {
	background-position: 0 -18rem;
	background-size: cover;
}

.pos_4 {
	background-position: 0 -23rem;
	background-size: cover;
}

span {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	display: block;
	text-align: center;
	margin-bottom: 3%;
}

.icon {
	border-radius: 50%;
	background-color: #ffffff;
	height: 50px;
	margin-right: 5%;
	padding: 6px;
	vertical-align: middle;
}

/* Task screen */

.task {
	margin-top: 15%;
}

.welcome {
	position: relative;
}

input[type="button"] {
	background: url("../img/play2.png");
	background-repeat: no-repeat;
    background-position: 30%;
	border: none;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 5%;
	top: 25px;
}

input[type="button"].close {
	background: url("../img/pause.png");
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
}

.welcome input[type="checkbox"], .welcome p, .welcome div {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}

.welcome input[type="checkbox"] {
	margin-left: 5%;
	margin-top: 5%;
	width: 35px;
	height: 35px;
}

.welcome p {
	margin-left: 5%;
	padding-bottom: 30px;
	font-size: 2rem;
	vertical-align: super;
}

div.answer {
	display: block;
}

.answer span {
	font-size: 2.5rem;
	line-height: 3rem;
}
