.top-bar__hamburger {
    margin-left: 40px;
    margin-right: 60px;
    height: 50px;
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis:  auto;
    opacity: 1;
    transition: 0.3s;
    z-index: 5;
}

.top-bar__hamburger_hidden {
    opacity: 0;
}