@import url("__plus-icon/button-plus__plus-icon.css");

.button-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color:  #1de9b6;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
}