.task__check-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 4px solid rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    margin-left: 5px;
    width: 36px;
    height: 36px;
}

.task__check-box-icon_hidden {
    opacity: 0;
    transition: 0.12s;
}

.task__check-box-icon_visible {
    opacity: 0.85;
}