@import url("__name/report__name.css");
@import url("__arrow-down/report__arrow-down.css");
@import url("__arrow-up/report__arrow-up.css");

html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.report {
    position: relative;
    width: calc(100vw - 64px);
    height: 150px;
    border-bottom: 1px solid black;
    line-height: 150px;
    transition: 0.3s;
}

.report_open {
    height: 400px;
}